<header class="principal-header container-fluid d-flex justify-content-center">

  <nav class="col-9 principal-navbar d-flex flex-row">

    <div class="d-flex flex-row align-items-center col-6 justify-content-between">
      <a><h2>{{title}}</h2></a>
      <a>Home</a>
      <a>Nuevos artistas</a>
      <a>Nuevos albums</a>
    </div>

    <div class="d-flex flex-row align-items-center col-3 justify-content-center">
      <form class="d-flex flex-row col-8" action="/search" method="GET">
        <input type="search" name="query" class="rounded" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" required>
        <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>Buscar</button>
      </form>
    </div>

    @if(isLoading==false){
      <div class="d-flex flex-row align-items-center col-3 justify-content-around">
        @if (isAuthenticated==false) {
          <a (click)="navegateToLogin()">Login</a>
          <a (click)="navegateToRegister()">Registrarse</a>
        }@else {
          <p>Bienvendo {{username}}</p>
          <a>Perfil</a>
          <div class="profile-image">
            <img src={{profileImgUrl}} height="100%" style="border-radius: 50%; object-fit: cover;">
          </div>
        }
      </div>
    }

  </nav>
</header>



