.principal-header{
  background-color: rgb(39, 39, 39);
  height: 10vh;
}

.principal-navbar{
  color: #ffffff
}

.principal-navbar a{
  cursor: pointer;
  transition-duration: .5s;
}

.principal-navbar a:hover{
  scale: 1.1;
}

.search form{
  width: 80%;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  box-sizing: border-box;
}

.searchButton {
  width: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  padding-top: 8px;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton span{
  transition-duration: .5s;
}

.searchButton:hover span{
  scale: 1.2
}

.profile-image{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
}

.profile-information{
  text-decoration: none;
  color: white;
}

.card-body {
  background: rgb(0, 180, 204);
  transition: all 0.3s ease-in-out;
  margin: 0px 15px;
}

.dropdown-item {
  color: rgb(255, 255, 255);
  padding: 0px 12px;
  border-radius: 5px;
}

.dropdown-item:hover {
  background: rgb(0, 180, 204);
}

