.principal-header{
  background-color: #010D26;
  height: 10vh;
}

.principal-navbar{
  background-color: #010D26;
  color: #ffffff
}

.profile-image{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
}

