<header class="principal-header container-fluid d-flex justify-content-center">

  <nav class="col-10 principal-navbar d-flex flex-row align-items-center">

    <div class="d-flex flex-row align-items-center col-6 justify-content-between">
      <a (click)="navegateToMain()"><h2>SoundScape</h2></a>
      <a>Home</a>
      <a>Nuevos artistas</a>
      <a>Nuevos albums</a>
    </div>

    <div class="search col-3 d-flex justify-content-center">
      <form action="" class="d-flex">
        <input type="text" class="searchTerm" placeholder="¿Qué estas buscando?">
        <button type="submit" class="searchButton">
          <span class="material-icons">search</span>
        </button>
      </form>
    </div>

    @if(isLoading==false){
      <div class="d-flex flex-row align-items-center col-3">
        @if (isAuthenticated==false) {
          <div class="d-flex flex-row justify-content-around flex-grow-1">
            <a (click)="navegateToLogin()">Login</a>
            <a (click)="navegateToRegister()">Registrarse</a>
          </div>

        }@else {
          <div class="d-flex flex-row align-items-center justify-content-around flex-grow-1">
            <p class="m-0">Bienvenido {{username}}</p>
            <a class="profile-information mx-2">Perfil</a>
            <div class="profile-image">
              @if(profileImgUrl !== null && profileImgUrl !== ""){
                <img src={{profileImgUrl}} height="100%" style="border-radius: 50%; object-fit: cover;">
              }@else{
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"height="100%" style="border-radius: 50%; object-fit: cover;">
              }
            </div>
          </div>
        }
      </div>
    }
  </nav>
</header>



