<div class="artist-carrusel-container container-fluid">
  <div class="artist-carrusel container col-8 d-flex flex-row" #carrusel>
    @for(artist of duplicatedArtists; track $index){
      <div class="card mx-1" style="width: 15rem; flex-shrink: 0;">
        <img src={{artist.profileImageUrl}} class="card-img-top" alt="..."
             style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{artist.artistName}}</h5>
          <p class="card-text text-truncate">{{artist.description}}</p>
          <div class="play-button">
            <a href="">
              <span class="material-symbols-outlined">
                double_arrow
              </span>
            </a>
          </div>
        </div>
      </div>
    } @empty {
      <li>There are no items.</li>
    }
  </div>
</div>
