<div class="container-fluid d-flex artist-content justify-content-start">
  <div class="col-12 d-flex flex-column">
    <div class="banner-img">
      @if (artist.bannerImageUrl == null || artist.bannerImageUrl.trim() == ""){
        <img src="https://static.vecteezy.com/system/resources/previews/011/000/296/non_2x/abstract-music-soundwave-banner-design-free-vector.jpg">
      }@else{
        <img src={{artist.bannerImageUrl}} alt="">
      }
      <h3>{{artist.artistName}}</h3>
      <p>{{artist.debutYear}}</p>
    </div>
    <section class="artist-information d-flex">
      <div class="profile-img">
        <img src={{artist.profileImageUrl}} alt="">
      </div>
      <div class="artist-description d-flex">
        <p>{{artist.description}}</p>
      </div>
    </section>

    <p>{{artist.websiteUrl}}</p>

    <div class="albums-container">
      @for (album of artist.albums; track $index) {
        <hr>
        <div class="d-flex">
          <div class="album-img  me-4">
            <img src={{album.coverImgUrl}} style="width: 50px; height: 50px;"/>
          </div>
          <p>{{album.albumName}}</p>
        </div>
      }
    </div>
  </div>
</div>
